* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  top: 0;
}
.container {
  border: solid 1px #000;
  padding: 15px;
  width: 70%;
  margin-top: 18%;
  text-align: center;
  border-radius: 10%;
  box-shadow: 10px 10px 10px 0 black;
}
.container h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
