* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.dark-mode {
  background-color: #18191a;
  color: white;
}
.container .row {
  display: flex;
  justify-content: center;
  margin-top: 3.2rem;
}
