
.container {
  border: solid 1px black;
  margin: 10px;
  text-align: center;
  padding: 10px;
  right: 0;
}
.comment textarea, .subcom, .update{
  display: inline-flex;
  vertical-align: middle;
}
.comment .subcom, .update{

}
.delete-edit-btn{
  top: 0;
  bottom: 0;
  margin-top: 10px;
}
.edit-delete-com-btn{
  border: solid 1px #000;
  display: flex;
  margin-left: 40px;
  width: 500px;
  padding: 10px;
}
.edit-delete-com-btn p{
  width: 200px;
  display: flex;
  text-align: center;
  overflow: hidden;
  overflow-x: scroll;
  margin-right: 10px;
  
}
.edit-delete-com-btn .btn {
  margin-top: 20px;
  text-align: center;
  height: 2.5vh;
  font-size: xx-small;
}
.edit-delete-com-btn .btn.btn-outline-primary,
.edit-delete-com-btn .btn.btn-outline-danger {
  display: flex;
  align-items: center;
  justify-content: center;
}
.reaction{
  border: solid 1px black;
  border-radius: 10px;
}
.reaction p{
  display: inline;
}
.reaction button{
  font-size: 30px;
  border: none;
  background: none;
  border-radius: 10px;
  transition: transform .2s;
}
.reaction button:hover{
    transform: scale(2.5);
}
.comment{
}
