* {
  margin: 0;
  top: 0;
  box-sizing: border-box;
}
.container {
  border: solid 1px black;
  box-shadow: 0 5px 10px 0 black;
  text-align: center;
  padding: 15px;
  right: 0;
  display: block;
  margin-bottom: 15px;
}
.comment textarea,
.subcom,
.update {
  display: inline-flex;
  vertical-align: middle;
}
.delete-edit-btn {
  top: 0;
  bottom: 0;
  margin-top: 10px;
}
.edit-delete-com-btn {
  border: solid 1px #000;
  display: flex;
  margin-left: 40px;
  width: 500px;
  padding: 10px;
  box-shadow: 0 0 10px 0 #242526;
}
.edit-delete-com-btn p {
  width: 200px;
  display: flex;
  text-align: center;
  overflow: hidden;
  overflow-x: scroll;
  margin-right: 10px;
}
.edit-delete-com-btn .btn {
  margin-top: 20px;
  text-align: center;
  height: 2.5vh;
  font-size: xx-small;
}
.comment .edit-delete-com-btn .btn.btn-outline-primary,
.comment .edit-delete-com-btn .btn.btn-outline-danger,
.comment .edit-delete-com-btn .btn.btn-outline-success {
  display: flex;
  align-items: center;
  justify-content: center;
}
.reaction {
  border: solid 1px black;
  border-radius: 10px;
}
.reaction p {
  display: inline;
}
.reaction button {
  font-size: 30px;
  border: none;
  background: none;
  border-radius: 10px;
  transition: transform 0.2s;
}
.reaction button:hover {
  transform: scale(2.5);
}
.dark-mode {
  background-color: #242526;
  color: white;
}
.comment .comment .dark-mode {
  background-color: #242526;
  color: white;
}
.comment-section .dark-mode{
  background-color: #18191a;
  color: white;
}
