<!-- <form (submit)="register(email.value, password.value)">
  <input type="email" #email placeholder="Email">
  <input type="password" #password placeholder="Password">
  <button type="submit">Register</button>
</form> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Register</title>
  </head>

  <body [ngClass]="{ 'dark-mode': isDarkMode }">
    <div class="container" [ngClass]="{ 'dark-mode': isDarkMode }">
      <h1>Create an Account</h1>
      <form (submit)="register(email.value, password.value)">
        <label for="email" class="form-label">Email:</label>
        <div class="mb-3">
          <input
            type="email"
            class="form-control"
            #email
            id="email"
            name="email"
            placeholder="Enter email"
            ngModel
            required
            autocomplete="email"
          />
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Password:</label>
          <input
            [type]="hide ? 'password' : 'text'"
            type="password"
            class="form-control"
            id="password"
            #password
            name="password"
            placeholder="Enter password"
            ngModel
            required
            autocomplete="current-password"
          />
          <input type="checkbox" (change)="hide = !hide" /> Show Password
        </div>

        <button type="submit" class="btn btn-primary">Register</button>
      </form>
      <label for="email"
        >Already have an account? <a routerLink="/login">Log in</a></label
      >
    </div>
  </body>
</html>
